* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
}

:root {
    --bgDark: #020808;
    --txtDark: #e0f3f2;
    --primDark: #8de6e1;
}

body {
    background-color: var(--bgDark);
    color: var(--bgDark);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.content {
    max-width: 90%;
    background: var(--primDark);
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    overflow: hidden;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow: hidden;
}

th, td {
    border: 1px solid var(--bgDark);
    padding: 10px;
    text-align: left;
    overflow: hidden;
}

th {
    background-color: var(--primLight);
    overflow: hidden;
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    h2, h3 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    ul {
        margin-left: 10px; /* Reduce left margin for lists */
    }

    th, td {
        font-size: 14px; /* Smaller font size for table cells */
        padding: 2px;
    }

    .content {
        padding: 15px; /* Adjust padding */
    }

    table{
        text-wrap: wrap;
    }
}
