* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgLight: #f7fdfd;
    --btnLight: #13cdc4;
    --txtLight: #0b1d1c;
    --primLight: #19716d;
    --secLight: #68e8e2;
    --bgDark: #020808;
    --btnDark: #30ece2;
    --txtDark: #e0f3f2;
    --primDark: #8de6e1;
    --secDark: #179891;

}

body {
    background-color: var(--bgDark);
    color: var(--txtDark);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    width: 150px;
    height: 80px;
    background-color: var(--btnDark);
    font-size: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--secDark);
    transition: 0.5s;
}

/* intro */
.introduction {
    height: 400px;
    width: 90%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primDark);
    color: var(--bgDark);
    padding: 10px;
    text-align: justify;
    margin: 10px auto;
}